name: .NET Core CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      working-dir: ./BankAppointmentScheduler/BankAppointmentScheduler.sln

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Install dependencies
      run: dotnet restore ./BankAppointmentScheduler.Web.csproj
      working-directory: ${{ env.working-dir }}
    - name: Build
      run: dotnet build --no-restore BankAppointmentScheduler.sln
      working-directory: ${{ env.working-dir }}
    - name: Test
      run: dotnet test --no-build --verbosity normal BankAppointmentScheduler.sln
      working-directory: ${{ env.working-dir }}
    
    
  sonar:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    
    steps:
    - uses: SonarSource/sonarcloud-github-action@v1.5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
